<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!--命名空间是对应接口的包名+类名,指定要映射的接口 -->
<mapper namespace="example.dao.UserDao">
    <!--id是接口中的方法名，结果类型如没有在mybatis.xml文件中配置别名，则必须使用全名称（包名+类名） -->
    <select id="getAllUsers" resultType="Usertwo">
        select id,`name`,address from usertwo
    </select>

    <!--select表示查询,它的id名称必须与DAO层接口的方法名相同,否则无法绑定-->
    <select id="selectByName" parameterType="string" resultType="User">
        select * from user where username = #{username}
    </select>

    <insert id="aregist" parameterType="example.pojo.User">
        INSERT INTO user(username,name,password,word)VALUES (#{username},#{name},#{password},#{word})
    </insert>
</mapper>

